@import "foundation";
@import "idangerous.swiper";

.columns {
  height: 100%;
  .button, input {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
  }
}

.display {
  height: 30%;
  .row {
    height: 50%;
  }
  input {
    background: transparent;
    background-color: #eee;
    text-align: right;
    font-size: 12vh;
    width: 100%;
    height: 100%;
  }
}

.swiper-container {
  height: 70%;
}

.swiper-wrapper {
  height: 100%;
}

.input {
  height: 100%;
  .row {
    height: 20%;
    &.double {
      height: 40%;
    }
    &.half {
      height: 50%;
    }
  }
  .button {
    background: #333;
    border-radius: 0;
    border: 1px #222 solid;
    font-size: 6vh;
    line-height: 14vh;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .button:active {
    background: #222;
  }
}
